button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em;
    padding: 0.5em;
    background-color: var(--surface);
    color: var(--on-surface);
    box-shadow: var(--shadow-1px);
    border: none;
    border-radius: 0.25rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

button * {
    margin: 0 0.25rem;
}