:root{
    --primary: hsl(300, 25%, 40%);
    --primary-light: hsl(300, 25%, 55%);
    --primary-dark: hsl(300, 25%, 25%);
    --primary-desaturated: hsl(300, 5%, 25%);
    --primary-desaturated-light: hsl(300, 5%, 75%);
    --on-primary: hsl(0, 0%, 100%);
    --secondary: hsl(120, 25%, 40%);
    --secondary-light: hsl(120, 25%, 55%);
    --secondary-dark: hsl(120, 25%, 25%);
    --secondary-desaturated: hsl(120, 5%, 25%);
    --secondary-desaturated-light: hsl(120, 5%, 75%);
    --on-secondary: hsl(0, 0%, 100%);
    --background: hsl(0, 0%, 100%);
    --on-background: hsl(300, 10%, 10%);
    --on-background-alt: hsl(300, 10%, 15%);
    --surface: hsl(0, 0%, 100%);
    --on-surface: hsl(300, 10%, 10%);
    --on-surface-alt: hsl(300, 10%, 15%);
    --shadow-1px: 0 0 2px 1px rgba(0,0,0,0.2);
    --shadow-2px: 0 0 4px 2px rgba(0,0,0,0.2);
    --shadow-3px: 0 0 8px 3px rgba(0,0,0,0.2);
}

button.raised {
    background-color: var(--primary);
    color: var(--on-primary);
    border: 0;
    border-radius: 0.25rem;
    padding: 0.15rem 0.5rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    font-size: 1.5rem;
    text-transform: uppercase;
}