@font-face {
    font-family: "Open Sans";
    src: url("../ttf/Open Sans.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../ttf/Roboto.ttf");
}

h1, .title-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

h2, .title-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.25rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

h3, .subtitle-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

h4, .subtitle-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

h5, .heading-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

h6, .heading-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
}

p, .body-1 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 2;
    text-transform: none;
    text-decoration: none;
}

.center {
    text-align: center;
}

.embossed {
    text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.i {
    font-style: italic;
}

.b {
    font-weight: bolder;
}

.u {
    text-decoration: underline;
}


figcaption, label, .body-2 {
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
    line-height: 2;
    text-transform: none;
    text-decoration: none;
}

