extends layout

block content
    section#summary
        div
            h1 About Us
            p.body-1 Our practice is founded on the belief that primary health care should emphasize and support the body's innate healing ability. We offer a suite of holistic therapies that reduce pain, improve function, and encourage overall health.
            h2.heading-1 Our Mission is to Support You
            p.body-1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe error aperiam quibusdam nisi, accusantium quidem nulla dolorum minus non expedita necessitatibus repellendus sit aliquid cupiditate suscipit ad vel totam ipsum?
            
    section#service-list(style="background-color: var(--primary); color: var(--on-primary);")
        div
            h2.heading-1 Chiropractic
            p Chiropractic is a licensed health care profession that addresses problems affecting the neuromuscular and musculoskeletal systems. Chiropractors treat back pain, neck pain, joint pain, and headaches.
            h3.heading-2 Movement is Everything
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius commodi dignissimos ipsam quod consectetur placeat sint adipisci aliquid velit accusantium facere cum repellat soluta unde, ipsum cupiditate fugiat ducimus! Cupiditate.
            h3.heading-2 Your Spine is Central
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sapiente dolorum nobis quasi molestiae deleniti aspernatur nulla rem numquam repudiandae, delectus expedita assumenda iure velit fuga adipisci fugit, eligendi distinctio.

        div
            h2.heading-1 Acupuncture
            p Acupuncture is a traditional Chinese medicine. It is used treat back pain, neck pain, and certain types of athritis. It also may help reduce and prevent certain types of headaches.
            h3.heading-2 
            p
        div
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim porro delectus voluptate cupiditate deserunt quisquam ipsum illum aut, veritatis voluptates, magnam esse, corporis temporibus! Error commodi doloremque veniam accusamus!
        div
            h2.heading-1 Cold Laser
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti delectus blanditiis quasi vero, sapiente fugit voluptatem odio animi quidem expedita! Quaerat voluptate soluta itaque perspiciatis. Dicta nesciunt quod et itaque.
    section#resources
    section#staff-list
        div
            h2.heading-2 Dr. Nichole Nygren
            i.body-1 Doctor of Chiropractic, Diplomate of Medical Acupucture
            p Dr. Nygren recieved her doctoral degree from Life University in 1998. She follows in the footsteps of her father, Dr. Terry Rainey, who served his community as a chiropactor from 1967 until his untimely death in 2001. She was inspired by the positive change she saw in his patients, and knew she wanted to support their pursuit of health. In December 2008, she was certified by the Ohio State Chiropractic Board to practice acupuncture.
        .image: img(src="../../jpg/nichole-nygren-profile.jpg")
        .image: img(src="../../jpg/rainey-press-release-1998.jpg")
        div
        div
            h2.heading-1 
    section#business-details


