extends layout

block styles 

block banner 
    .subtitle Tired of pain? Not feeling well?
    .title Let us help you.
    .actions
        a Learn More
        button Book Appointment
    .arrow.material-icons-outlined keyboard_arrow_down

block article
    section
        p We recognize that the human body is self-healing, and believe that primary care should focus on supporting its function. Our clinic assesses and addresses the body as a whole, considering all of the factors that cause and perpetuate disease.
    section
        .card
            .name Dr. Nichole Nygren
            .title Doctor of Chiropractic, 
        
block aside

block scripts