extends layout

block content
    section#summary
        div
            h1 About Us
            p.body-1 We believe that primary health care should emphasize the body's innate healing ability. We offer a suite of holistic, conservative therapies that reduce pain, improve function, and support overall health.
            h2.heading-1 Our Mission is to Support You
            p.body-1 We are here help you reach your health and fitness goals by reducing pain, restoring quality movement patterns, supporting your natural healing processes, and by encouraging and informing well-balanced eating.
        figure
            img(src="../../jpg/welcome-sign.jpg")
            figcaption Dr. Nichole Nygren (right) and Jenn McGarvey welcome you to the office.
    section#service-list(style="background-color: var(--primary); color: var(--on-primary);")
        div
            h2.subtitle-1 Chiropractic
            p Chiropractic is a licensed health care profession that addresses problems affecting the musculoskeletal system. Chiropractors treat back pain, neck pain, joint pain, and headaches.
            h3.heading-1 How it Works
            p Chiropractors correct joint problems with manual adjustments, improving motion and overall function. Chiropractic adjustments also stimulate the nervous system, which causes a release of chemicals that affect the muscles, spinal cord, and brain. This stimulates healing and reduces pain. Chiropractic adjusments may also help to prevent injury.
        div
            h2.subtitle-1 Acupuncture
            p Acupuncture is a traditional Chinese medicine. It is used treat back pain, neck pain, and certain types of athritis. It also may help reduce or prevent headaches.
            h3.heading-1 How it Works
            p Acupuncture stimulates the nervous system, which causes a release chemicals that affect the muscles, spinal cord, and brain. This stimulates healing and reduces pain.
    section#staff-list
        div
            .profile
                .profile-image: img(src="../../jpg/nichole-nygren-profile.jpg" loading="lazy" alt="Image of Nichole Nygren, Doctor of Chiropractic")
                .profile-text
                    h2.heading-2 Dr. Nichole Nygren
                    span.body-2 Doctor of Chiropractic
                    span.body-2 Diplomate of Medical Acupucture
            p Nichole Nygren, DC, Dipl Acu, is the daughter of Dr. Terry Rainey, who graduated from Palmer College of Chiropractic in 1967. She recieved her both her doctoral degree and bachelor of science from Life University, where she learned broad skills in examination, diagnosis, manual therapy, and nutrition conseling. She joined her father's practice in March of 1999, and took over after his untimely death in 2001. In December 2008, she was certified by the Ohio State Chiropractic Board to practice acupuncture.
            p Personal life Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quasi doloribus iure fugit natus quaerat velit ea delectus aut nesciunt! Suscipit possimus autem beatae tempora repudiandae! Nulla similique in officia?
        figure 
            img(src="../../jpg/rainey-press-release-99.jpg" loading="lazy" alt="Dr. Nygren's first press release with her late father, Dr. Terry Rainey, taken March 1999.")
            figcaption Dr. Nygren's first press release with her late father, Dr. Terry Rainey (March 1999).
        div
            .profile
                .profile-image: img(src="../../jpg/tyler-nygren-profile.jpg" loading="lazy" alt="Image of Tyler Nygren, Doctor of Chiropractic")
                .profile-text
                    h2.heading-2 Dr. Tyler Nygren
                    span.body-2 Doctor of Chiropractic
            p Tyler Nygren, DC, is the son of Dr. Nichole Nygren, who graduated from Life University in 1998. He recieved his both his doctoral degree and bachelor of science from Life University, where he learned broad skills in examination, diagnosis, and manual therapy. He joined his mother's practice in April 2022. He is currently undergoing acupuncture certification.
            p Personal life Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quasi doloribus iure fugit natus quaerat velit ea delectus aut nesciunt! Suscipit possimus autem beatae tempora repudiandae! Nulla similique in officia?
        figure
            figcaption
        div
            .profile
                .profile-image: img(src="../../jpg/jenn-mcgarvey-profile.jpg" loading="lazy" alt="Image of Jen McGarvey, Chiropractic Assistant")
                .profile-text
                    h2.heading-2 Jennifer McGarvey
                    span.body-2 Chiropractic Assistant
            p Jennifer McGarvey began working as a chiropractic assitant while living in New Mexico. When she moved to Van Wert, her family recieved care from Dr. Nygren. She began working at Nygren Chiropractic and Acupuncture in 2017.
            p Personal life Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quasi doloribus iure fugit natus quaerat velit ea delectus aut nesciunt! Suscipit possimus autem beatae tempora repudiandae! Nulla similique in officia?
        figure
            figcaption
            h2.heading-1 
    section#location-and-hours
        h2.subtitle-1 Location and Hours
        .location
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.0692962046796!2d-84.58133808427058!3d40.87035343584892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883e6ae22e589ddb%3A0x8819222f44c03fda!2sNygren%20Chiropractic%20%26%20Acupuncture!5e0!3m2!1sen!2sus!4v1639756055678!5m2!1sen!2sus" allowfullscreen="false" loading="lazy"></iframe>
        .hours(style="background-image: url('../../jpg/front-door.jpg');")
            table
                tr
                    td Sunday
                    td Closed
                tr
                    td Monday
                    td 9:00am - 5:00pm
                tr
                    td Tuesday
                    td 9:00am - 5:00pm 
                tr
                    td Wednesday
                    td 1:00pm - 9:00pm
                tr
                    td Thursday
                    td Closed
                tr
                    td Friday
                    td 9:00am - 5:00pm 
                tr
                    td Saturday
                    td Closed


