extends layout

block content
    section#summary
        div
            h1 About Us
            p.body-1 We believe that primary health care should emphasize the body's innate healing ability. We offer a suite of holistic, conservative therapies that reduce pain, improve function, and support overall health.
            h2.heading-1 Our Mission is to Support You
            p.body-1 We are great at pain relief-- but that's not all we do. We are here help you reach your health and fitness goals by building quality movement patterns, supporting your natural healing processes, and by encouraging and informing well-balanced eating.
        figure
            img(src="../../jpg/welcome-sign.jpg")
            figcaption Dr. Nichole Nygren (right) and Jenn McGarvey welcome you to the office.
    section#service-list(style="background-color: var(--primary); color: var(--on-primary);")
        div
            h2.subtitle-1 Chiropractic
            p Chiropractic is a licensed health care profession that addresses problems affecting the musculoskeletal system. Chiropractors treat back pain, neck pain, joint pain, and headaches.
            h3.heading-1 How it Works
            p Chiropractors correct joint problems with manual adjustments, improving motion and overall function. Chiropractic adjustments also stimulate the nervous system, which causes a release of chemicals that affect the muscles, spinal cord, and brain. This stimulates healing and reduces pain. Chiropractic adjusments may also help to prevent injury.
        div
            h2.subtitle-1 Acupuncture
            p Acupuncture is a traditional Chinese medicine. It is used treat back pain, neck pain, and certain types of athritis. It also may help reduce or prevent headaches.
            h3.heading-1 How it Works
            p Acupuncture stimulates the nervous system, which causes a release chemicals that affect the muscles, spinal cord, and brain. This stimulates healing and reduces pain.
    section#staff-list
        div
            .profile
                .profile-image: img(src="../../jpg/nichole-nygren-profile.jpg")
                .profile-text
                    h2.heading-2 Dr. Nichole Nygren
                    span.body-2 Doctor of Chiropractic
                    span.body-2 Diplomate of Medical Acupucture
            p Dr. Nygren is the daughter of Dr. Terry Rainey, who graduated from Palmer College of Chiropractic in 1967. Dr. Nygren was inspired by the change she saw in her father's patients. recieved her both her doctoral degree, and bachelor of science from Life University. She joined his practice in March of 1999, and took over after his untimely death in 2001. In December 2008, she was certified by the Ohio State Chiropractic Board to practice acupuncture.
        figure 
            img(src="../../jpg/rainey-press-release-99.jpg")
            figcaption Dr. Nygren's first press release with her late father, Dr. Terry Rainey (March 1999).
        div
        div
            h2.heading-1 
    section#business-details


