extends layout

block content
    section#banner(style="background-image: url('../../jpg/banner.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;")
        h1.heading-1 Tired of Pain? Not Feeling Well?
        h2.title-1 We can help you!
        span.actions
            a Learn More
            button Make an Appointment
    section#summary
        p Nygren Chiropractic & Acupuncture (NCA) offers conservative, holistic treatment options that reduce pain and support overall wellness. It is located in Van Wert, Ohio, and was founded by Dr. Nichole Nygren in 2003. 