extends layout

block content
    section#banner(style="background-image: url('../../jpg/banner.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;")
        .subtitle-1 Tired of Pain?
        h1.title-1 We can help!
        span.actions
            a Learn More
            button Make an Appointment
    section#summary
        div
            h2.heading-1 About
            p.body-1 Nygren Chiropractic & Acupuncture offers holistic therapies that reduce pain, improve mobility, and encourage overall health. It is founded on the belief that primary health care should emphasize and support the body's innate healing ability.
        div
            
    section#service-list(style="background-color: var(--primary); color: var(--on-primary);")
        div
            h2.heading-1 Chiropractic
            p Chiropractic is a licensed health care profession that addresses problems affecting the neuromuscular and musculoskeletal systems. Manipulative therapy is the most common service offered by chiropractors. It is used to treat back pain, neck pain, joint pain, and headaches. <a>Learn More</a>
        div
            h2.heading-1 Acupuncture
            p Acupuncture is a traditional Chinese medicine. It is used treat back pain, neck pain, and certain types of athritis. It also may help reduce the frequency of tension headaches, and may prevent migraine headaches. <a>Learn More</a>
    section#resources
    section#staff-list
        div
            h2.heading-2 Dr. Nichole Nygren
            i.body-1 Doctor of Chiropractic, Diplomate of Medical Acupucture
            p Dr. Nygren recieved her doctoral degree from Life University in 1998. She follows in the footsteps of her father, Dr. Terry Rainey, who served his community as a chiropactor from 1967 until his untimely death in 2001. She was inspired by the positive change she saw in his patients, and knew she wanted to support their pursuit of health. In December 2008, she was certified by the Ohio State Chiropractic Board to practice acupuncture.
        .image: img(src="../../jpg/nichole-nygren-profile.jpg")
        .image: img(src="../../jpg/rainey-press-release-1998.jpg")
        div
        div
            h2.heading-1 
    section#business-details


