extends layout

block content
    section#banner(style="background-image: url('../../jpg/banner.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;")
        .subtitle-1 Tired of Pain?
        h1.title-1 We can help!
        span.actions
            a Learn More
            button Make an Appointment
    section#summary
        div
            h2.heading-1 About
            p.body-1 Nygren Chiropractic & Acupuncture offers holistic therapies that reduce pain, improve mobility, and encourage overall health. It is founded on the belief that primary health care should focus on supporting the body's innate healing ability.
        div
            h2.heading-1 Business Hours
            ul
                li 
                li
                li 
                li 
                li 
                li
                li
    section#service-list(style="background-color: var(--primary); color: var(--on-primary);")
        div
            h2.heading-1 Chiropractic
            p Chiropractic is a licensed health care profession that addresses problems affecting the neuromusckuloskeletal system. It is characterized by the manual manipulation of dysfunctional joints.
        div
            h2.heading-1 Acupuncture
            p 
    section#staff-list
    section#business-details


