extends layout

block styles 

block banner 
    .spacer
    .subtitle Tired of pain? Not feeling well?
    .title Let us help you.
    .actions
        a Learn More
        button Book Appointment
    .spacer
    .arrow.material-icons-outlined keyboard_arrow_down

block article
    section
        p We recognize that the human body is self-healing, and believe that primary care should focus on supporting its function. Our clinic assesses and addresses the body as a whole, considering all of the factors that cause and perpetuate disease.
        
block aside

block scripts