doctype html
html(lang="en")
    head

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{ title } | Nygren Chiropractic and Acupuncture
        meta(name="description", content=`${ description }`)
        meta(name="keywords", content=`${ keywords }`)
        link(rel="shortcut icon", media="(prefers-color-scheme: light)", href=`../../svg/nca-logo-black-16x16.svg`, type="xml+svg")
        link(rel="shortcut icon", media="(prefers-color-scheme: dark)", href=`../../svg/nca-logo-white-16x16.svg`, type="xml+svg")

        link(rel="preload" as="image" href="../../jpg/banner.jpg")

        link(rel="stylesheet", href="../../css/fonts.css")
        link(rel="stylesheet", media="(prefers-color-scheme: light)" href="../../css/light.css")
        link(rel="stylesheet", media="(prefers-color-scheme: dark)" href="../../css/light.css")
        link(rel="stylesheet", media="screen and (max-width: 599px)", href="../../css/layout-small.css")
        link(rel="stylesheet", media="screen and (min-width: 600px) and (max-width: 1099px)", href="../../css/layout-medium.css")
        link(rel="stylesheet", media="screen and (min-width: 1100px) and (max-width: 1499px)", href="../../css/layout-large.css")
        link(rel="stylesheet", media="screen and (min-width: 1500px)", href="../../css/layout-extra-large.css")

        style.
            body * { 
                box-sizing: border-box; 
            }

    body(style="margin: 0; padding: 0;")
        
        nav: include navigation.pug

        main
            header
                #open-nav: img(src="../../svg/open-nav-white-24x24.svg")
                #brand-info(href="/")
                    #website-logo: img(src="../../svg/nca-logo-white-32x32.svg")
                    #website-title.heading-1
                button#make-appointment
                    img(src="../../svg/appointment.svg") 
                    .body-1
            article: block content
            aside: block aside

        script.
            if (window.innerWidth < 599) {
                document.getElementById('website-title').innerText = "NCA";
                document.querySelector('#make-appointment .body-1').innerText = "Book";
            } else { 
                document.getElementById('website-title').innerText = "Nygren Chiropractic & Acupuncture";
                document.querySelector('#make-appointment .body-1').innerText = "New Appointment";
            }
