head
    title #{ title } | NCA
    link(rel="shortcut icon", href=`${ favicon }.svg`, type="xml+svg")

    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=`${ description }`)

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="layout.css")
    link(rel="stylesheet", href="component.css")
    link(rel="stylesheet", href=`${page}.css`)
    block styles
body
    header
        block header
    nav
        block nav
    main
        block main


