doctype html
html(lang="en")
    head
        title #{ title } | Nygren Chiropractic and Acupuncture
        link(rel="shortcut icon", href=`../../svg/${ favicon }.svg`, type="xml+svg")

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=`${ description }`)

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet")
        link(rel="stylesheet", href="../../css/layout.css")
        link(rel="stylesheet", href="../../css/component.css")
        link(rel="stylesheet", href=`../../css/${page}.css`)
        block styles
    body
        header
            #banner
                block banner
            #top-line
                button#nav-button.material-icons-outlined(title="Show Menu") menu_open
                span#site-title(title="Go to Home")
                button#schedule-button(title="New Appointment") Appointment
        nav
            details
                button Acupuncture
                button Chiropractic
                button Nutrition
                summary 
                    .material-icons-outlined spa
                    span Services
            details
                button Hours
                button Location
                button Pricing
                button Staff
                summary 
                    .material-icons-outlined store
                    span Business
            details
                button Community
                button Documents
                button Exercises
                button Recipes
                button Stretches
                summary 
                    .material-icons-outlined download
                    span Resources
            details
                button Facebook
                button Instagram
                button YouTube
                summary 
                    .material-icons-outlined thumb_up_alt
                    span Media
            details
                button Call
                button Message
                button Email
                summary 
                    .material-icons-outlined mail
                    span Contact
            details
                button Payment
                button Privacy
                summary 
                    .material-icons-outlined policy
                    span Policy
        main
            article
                block article
            aside
                block aside

        script(src="../../js/layout.js")
        block scripts