.item
    span About
.item
    span Services
.subitem Chiropractic
.subitem Acupuncture
.item
    span Hours and Location
.item
    span Staff
.item
    span Contact
.subitem Call
.subitem Email
.subitem Message
.item
    span Resources
.subitem New Patient Forms
.subitem First Visit Info
.subitem Recipes
.subitem Standard Process
.subitem Medi Herb
.subitem Community
.item
    span Privacy